@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common styless */

.display-flex {

  display: flex;
}

.dark2 {

  color: #424242;
}

.dark3 {

  color: #727272;
}

.bg-color {

  background-color: rgba(255, 144, 14, 0.1);
}

.btn {

  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 20px 25px;

}

main {

  max-width: 1440px;
  margin: 0 auto;
}









/* header styles */


/* nav styles */


.navbar {

  justify-content: space-between;
  align-items: center;
}

.nav-item {

  list-style: none;
  margin-right: 30px;
}

.nav-link {

  text-decoration: none;
  font-weight: 500;
}


.navbar,
.banner {

  max-width: 1440px;
  margin: 0 auto;
}

/* brand style */

.brand {

  font-weight: 700;
  font-size: 3rem;
}

/* banner style */

.banner-content {

  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {

  font-weight: 700;
  font-size: 4rem;
}

.banner-subtitle {

  font-size: 1rem;
  margin-bottom: 32px;
}

.banner-image {

  width: 100%;
}






/* teams section style */

.teams {

  margin: 85px 61px 130px 61px;
  align-items: center;
}


.teams .teams-image-container {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-right: 75px;
}



.teams .our-features .features-title {

  font-weight: 700;
  font-size: 2.8rem;

}

.teams .our-features .features-subtitle {

  margin-bottom: 32px;
}










/* responsive media query */

@media screen and (max-width: 576px) {

  .navbar {

    flex-direction: column;
  }

  .teams {

    flex-direction: column;
  }

  .teams .teams-image-container {

    grid-template-columns: repeat(1, 1fr);
    margin-right: 0px;

  }

}

/* medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {

  .teams {

    flex-direction: column;
  }

  .teams .teams-image-container {

   margin-right: 0px;

  }

  .teams .our-features {

    max-width: 537px;
  }

}